{{- $link := .Get "link" -}}
{{- $text := .Get "text" -}}
{{- $links := dict
  "coinbase"  "https://www.coinbase.com/join/predictionprofits"
  "kraken"    "https://kraken.com/sign-up?referral=predprofits"
  "ledger"    "https://shop.ledger.com/?r=9aab26516b1b"
  "nordvpn"   "https://go.nordvpn.net/aff_c?offer_id=15&aff_id=142821&url_id=902"
  "etoro"     "https://etoro.com/predprofits"
  "revolut"   "https://revolut.com/referral/predprofits"
  "trezor"    "https://trezor.io/PLACEHOLDER_TZ"
  "binance"   "https://binance.com/en/activity/referral/PLACEHOLDER_BN"
  "polymarket" "https://polymarket.com?via=predprofits"
-}}
{{- $url := index $links $link | default "#" -}}
<a href="{{ $url }}" rel="nofollow sponsored" target="_blank" class="affiliate-link">{{ $text }}</a>
